<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCBAlogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SCBAlogger.Properties.Settings>
            <setting name="TankPressures" serializeAs="String">
                <value>5500,4500</value>
            </setting>
            <setting name="Jurisdictions" serializeAs="String">
                <value>Stafford,Quantico,Fredricksburg</value>
            </setting>
            <setting name="Operators" serializeAs="String">
                <value>G. Cox,J. OBrien,M. Good</value>
            </setting>
            <setting name="EventName" serializeAs="String">
                <value>Some Test Event</value>
            </setting>
            <setting name="EmailSecretName" serializeAs="String">
                <value>Logger Email Address</value>
            </setting>
            <setting name="DestinationEmailAddresses" serializeAs="String">
                <value>gcoxjr@hotmail.com,GCox@staffordcountyva.gov</value>
            </setting>
        </SCBAlogger.Properties.Settings>
    </userSettings>
</configuration>